* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.cell-container {
    display: flex;
    align-items: center;
    align-content: center;
}



.cell {
    background-color: gray;
    border-right: 3px solid rgb(104, 102, 102);
    border-bottom: 3px solid rgb(104, 102, 102);
    border-top: 3px solid rgb(199, 198, 198);
    border-left: 3px solid rgb(199, 198, 198);
    width: 20px;
    height: 20px;
}