* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.cell-row {
    display: flex;
    align-items: center;
    align-content: center;
}



.cell {
    background-color: gray;
    border-right: 3px solid rgb(104, 102, 102);
    border-bottom: 3px solid rgb(104, 102, 102);
    border-top: 3px solid rgb(199, 198, 198);
    border-left: 3px solid rgb(199, 198, 198);
    width: 20px;
    height: 20px;
}


.cell.revealed {
    background-color: #b9b9b9;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.cell.revealed.one {
    color: blue;
}

.cell.revealed.two {
    color: green;
}

.cell.revealed.three {
    color: red;
}

.cell.revealed.four {
    color: purple;
}

.cell.revealed.five {
    color: brown;
}

.cell.revealed.six {
    color: rgb(54, 127, 151);
}

.cell.revealed.seven {
    color: rgb(99, 112, 185);
}

.cell.revealed.eight {
    color: rgb(208, 43, 169);
}

.flag-img {
    max-height: 100%;
    max-width: 100%;
}

.flag-img.non-visible {
    opacity: 0%;
}