* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.main-container {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
}


.difficulty-level-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: slategrey;
}

.button.difficulty {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: slategray;
    border: white 2px solid;
    color: white;
}


.cell-container {
    display: flex;
    align-items: center;
    align-content: center;
}



.cell {
    background-color: gray;
    border-right: 3px solid rgb(104, 102, 102);
    border-bottom: 3px solid rgb(104, 102, 102);
    border-top: 3px solid rgb(199, 198, 198);
    border-left: 3px solid rgb(199, 198, 198);
    width: 20px;
    height: 20px;
}